[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/google/protobuf
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc
[submodule "third_party/snap-plugin-lib-cpp"]
	path = third_party/snap-plugin-lib-cpp
	url = https://github.com/intelsdi-x/snap-plugin-lib-cpp
[submodule "third_party/intel-cmt-cat"]
	path = third_party/intel-cmt-cat
	url = https://github.com/01org/intel-cmt-cat
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
